.Products {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  margin-left: 5vh;
}
@media screen and (max-width: 750px) {
  .Products {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    margin-top: 0vh;
  }
}
@media screen and (min-width: 1000px) {
  .Products {
    margin-top: -10vh;
  }
}
